*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #DCF2F1, #57cef5);
  }
header{
    padding: 30px;
}


.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
}

.nav-box{
    display: flex;
    gap: 10px;
}

.nav-box ul{
  display: flex;
  align-items: center;
}
.btn-close-nav{
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.btn-open-nav{
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  
}


li{
    list-style: none;
}

li a{
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
    /* background-color: aqua; */
    font-size: 18px;
    color: #FEFBF6;
    font-weight: 700;
}

li a:hover{
  text-decoration: underline;
  text-decoration-color:#59B4C3;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}
/* main  */

.main-container{
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.main-box{
  display: flex;
  flex-direction: column;
}

.sort-box{
    display: flex;
    /* justify-content: center; */
    gap: 250px;
    margin: 100px auto 50px;
}
/* search  */
.search-container {
  display: flex;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

.search-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-button {
  padding: 8px 12px;
  margin-left: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #0056b3;
}





.card {
    width: 315px;
    /* height: 380px; */
    /* padding: 20px; */
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    background-color: #7FC7D9;
        color: #2d3436;
  }
  .card > *:not(img) {
    padding: 20px;
  }
  
  .card img {
    width: 100%;
    height: 180px;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
  }
  .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .card-body p {
    color: #3d3d3d;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .view-btn{
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .view-btn a {
    padding: 5px 15px;
    border: 1.5px solid #007bff;
    border-radius: 3px;
    text-decoration: none;
    color: #007bff;
    transition: all 0.3s;
    margin-top: 10px;
  }
  .view-btn a:hover{
    background-color: #007bff;
    color: white;
    transition: all 0.5s;
  }
  
  .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  .btn-group .btn a {
    padding: 5px 15px;
    background-color: #333A73;
    color: #fff;
    border-radius: 3px;
    margin-left: -2px;
    margin: 2px 10px;
  }
  .btn-group a {
    /* margin: 2px 10px; */
    text-decoration: none;
    /* color: #000; */
    padding: 5px 15px;   
    border: 1.5px solid #007bff;
    border-radius: 3px;
    text-decoration: none;
    color: #007bff;
    transition: all 0.3s;
   
  }
  .price{
    color: #211951;
  }

  .add-cart:hover{
    background-color: #333A73;
    color: white;
  }

  .cart-quantity{
    font-size: 18px;
    font-weight: 700;
  }

  .cart-logo{
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background-color: white;
    border-radius: 5px;
    padding: 2px 7px;
  }

  .info{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .card-title{
    display: flex;
    justify-content: space-between;
  }

   .card .flag-discount {
    border-radius: 6px 0 0 6px;
    color: #fff;
    font-weight: bold;
    display: block;
    float: left;
    padding: 5px 10px;
    background: #201658;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 10px;
    right: 5px;
   
}
.flag-discount::before,
.flag-discount::after {
    content: "";
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    display: block;
}
.flag-discount::before {
    top: 0;
    border-width: 22px 15px 0 0;
    border-color: #201658 transparent transparent transparent;
}
.flag-discount::after {
    bottom: 0;
    border-width: 0 15px 22px 0;
    border-color: transparent transparent #201658 transparent;
}
.card hr{
  padding: 0;
}

.star-rating {
  display: inline-block;
  font-size: 0;
}

.star-rating input {
  display: none;
}

.star-rating label {
  float: right;
  padding: 0 1px;
  cursor: pointer;
}

.star-rating label:before {
  content: "\2605";
  font-size: 30px;
  color: orange;
}

.rating{
  position: absolute;
  top: 265px;
  right: 10px;
}

.card .card-body{
  padding: 20px 10px;
}

/*  */

:root {
  --star-size: 30px;
  --star-color: #fff;
  --star-background: #fc0;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
  
  &::before {
    content: '★★★★★';
    letter-spacing: 1.5px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.button-container{
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.next-button{
  padding: 10px 15px;
  background-color: #007bff;
  margin: 0;
  border: none;
  color: white;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
}

.filtering ul{
  display: flex;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  gap: 5px;
}

.not-found{
  margin-top: 50px;
  font-size: 26px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px 15px;
  font-size: 16px;
  border: 2px solid #3498db;
  background-color: #f8f9fa;
  color: #3498db;
  border-radius: 5px;
}

/* Hover state */
select:hover {
  border-color: #2980b9;
}

/* Focus state */
select:focus {
  outline: none;
  border-color: #2980b9;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

/* Arrow icon */
select::after {
  content: '\25BC'; /* Downward arrow */
  position: absolute;
  top: calc(50% - 5px);
  right: 10px;
  font-size: 14px;
  color: #3498db;
  pointer-events: none;
}

/* Styling for the options */
option {
  color: #333;
  background-color: #f8f9fa;
}

/* Hover state for the options */
option:hover {
  background-color: #ecf0f1;
}

/* Selected option */
option:checked {
  background-color: #3498db;
  color: white;
}
.custom-partners-wrapper {
  display: flex;
  justify-content: center; /* Center groups horizontally */
  overflow: hidden;
}

.custom-partners-wrapper .custom-group {
  display: flex;
  text-align: center; 
  gap: 120px;
  position: absolute;
}

.custom-partners-wrapper img {
  width: 350px; /* Set the width to 200px */
  height: 250px; /* Set the height to 200px */
  object-fit: cover; /* Maintain aspect ratio and fill the container */
  /* display: none; */
  opacity: 0;
  margin: 0 auto; 
  transition: opacity 1s ease-in-out; 
}




.project-partners {
  min-height: 280px;
}

.rights a {
  cursor: pointer;
  transition: all 0.3s ease;
}

.rights a:hover {
  color: #bbbbbbdb;
  transition: all 0.3s ease;
}

/* project partners section */
.project-partners {
  height: 310px;
  background-color: rgb(127, 199, 217);
  color: rgb(231, 244, 244);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 50;
  padding: 30px 80px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.partners-box {
  display: flex;
  /* justify-content: space-between; */
}


/* cart */

.cart {
  position: fixed;
  top: 0;
  right: -500px; /* Start off screen */
  width: 500px;
  height: 100vh;
  background-color: #f8f9fa;
  transition: right 0.3s ease;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.cart.open {
  right: 0;
}
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.cart-close {
  cursor: pointer;
  font-size: 20px;
}
.cart-items {
  /* max-height: calc(100vh - 120px); */
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  overflow-y: auto;
  margin-bottom: 20px;
}
.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* cart */
.cart-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  /* padding: 10px; */
  width: 60%;
  box-sizing: border-box;
  position: relative;
}
.cart-item img {
  max-width: 100%;
  height: auto;
}
.cart-item-info {
  padding: 10px;
}
.cart-item-title {
  font-weight: bold;
  margin-bottom: 5px;
}
.cart-item-price {
  color: green;
}
.remove-item {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  
}

.cart-total{
  color: green;
}


/* media-querys */
@media (max-width:1200px){
  .sort-box{
    gap: 150px;
  }

  .custom-partners-wrapper img {
    width: 250px; /* Set the width to 200px */
    height: 250px;
  }
}

@media (max-width:1000px){
  .sort-box{
    flex-direction: column;
    gap: 20px;
  }
  .cart{
    width: 300px;
  }

  .nav-container{
    padding: 0;
  }
  .custom-partners-wrapper img {
    width: 300px; /* Set the width to 200px */
    height: 150px;
  }
  .project-partners{
    height: 530px;
  }

  .custom-partners-wrapper .custom-group {
    display: flex;
   flex-direction: column;
   gap: 15px;
  }

  /* .menu{
    display: block;
  }
.close-menu{
  display: block;
} */
  .nav-box{
    display: none;
  }
  .btn-open-nav{
    display: block;
  }
  .navbar-open{
    position: absolute;
    background-color: rgb(26,30,31);
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    align-items: center;
    justify-content: start;
    z-index: 1;
    flex-direction: column;
    padding: 20px;
    padding-top: 40px;
    /* transform: translateX(100%); */
    gap: 40px;
    
    transition: all 0.5s ease-in-out;
    opacity: 1;
    
  }
  .btn-close-nav{
    display: block;
  }

  .nav-box ul{
    flex-direction: column;
    color: rgb(244,244,244);
  }

  li a{
    font-size: 20px;
    color: white;
  }
}


